<div class="row">
  <div class="col col-sm-8">
    <div class="header-brand">
      <img class="dell-logo" src="assets/img/Dell_Logo_Blue-300x300.png" />
      <img class="impression-logo" src="assets/img/Impression_Logo.svg" />
      <!--<object class="impression-logo" data="assets/img/Impression_Logo.svg" type="image/svg+xml"> </object>-->
    </div>
  </div>
  <div class="col col-sm-4">
    <div class="jumbotron information-block">
      <ul class="information-list"></ul>
    </div>
  </div>
</div>
